html {margin:0px; padding:0px; width:100%;}
body {margin:0px; padding:0px; background:#FFF; color:#EEE; width:100%;font-family: 'Trebuchet Ms'; font-size:13px;}
#wrapper { width:100%; height:100%; position:relative; margin:0 auto; padding:0; }
#header{ padding: 0px; width:100%; height:90px; background: #000; 
         opacity:0.8;position:absolute;top:0px;left:0px;
         z-index:100;
}
h1{ margin: 0px;font-size: 40px; color: #d33;font-weight:lighter; }
.clr{clear: both;}

.offside{
    font-family: 'Titillium Web', sans-serif;
}

#menu{
    float:right;
    margin:30px 40px 0px 0px;
    border:solid 0px #C00; 
}

#menu a{
    font-family: 'Titillium Web', sans-serif;
    float:right;
     margin-right:20px;
}

#map{
    width:100%;
    height:400px;
    position:relative;
    z-index: 1;
    background:#C00;
}
#infos{
    position:absolute;
    top:100px;
    right:0px;
    z-index:2;
    width:20%;
    padding:1%;
    height:300px;
    background: #000; opacity:0.8;
}
.item{
    padding: 5px 0px;
    border-bottom:solid 1px #CCC;
}

.time{
    font-style: italic;
    font-size:11px;
}
.description{
    font-style: normal;
    font-size:14px;
}


#infos_title{
    padding:0px 0px 5px 0px;
    margin-bottom: 20px;
    border-bottom:solid 1px #CCC;
    font-size:18px;
    color: #d33;
}
#content{
    position:relative;
}

#search_bar{
    margin-bottom:10px;
}

a{
    font-size:14px;
    color:#EEE;
    text-decoration:none;}

a:hover{
    color:#FFF;
    text-decoration:underline;}

.left{
    float:left;
}
.right{
    float:right;
}